
* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: #d34b68;
    color: aliceblue;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: rgb(36, 28, 71);
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid #0c0c0c;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}
#newtask button{
    position: relative;
    float: right;
    font-weight: bolder;
    font-size: 16px;
    background-color: #128370;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: rgb(36, 28, 71);
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #128370;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    color: aliceblue;
}

.task button{
    background-color: rgb(36, 28, 71);
    color: #ff0000;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

@media only screen and (max-width: 464px) {

    .container{
        min-width: 90%;
    }
}



